<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<nav>
        <!-- Logo -->
        <!-- Menu -->
    </nav>
    <header>
        
    </header>
    <section>
        <article>
            <!-- News sports articles -->
        </article>
        <article>
            <!-- News social articles -->
        </article>
    </section>
    <section>
        <article>
            <!-- News x articles -->
        </article>
        <article>
            <!-- News y articles -->
        </article>
    </section>
    
</body>
</html>