<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
    <h1 id="app-name">Aplicación local:</h1>
    <br>
	<iframe src="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" width="1000" height="800"
        allowfulscreen="" loading="lazy"></iframe>
        
    <iframe src="https://remoox.com" width="1000" height="800"
            allowfulscreen="" loading="lazy"></iframe>
                
    <iframe src="https://talendig.com" width="1000" height="800"
            allowfulscreen="" loading="lazy"></iframe>
</body>
</html>